.DS_Store
.gradle
.idea
.intellijPlatform
.kotlin
.qodana
.junie
/docs
build

/src/web/PHPUnitBubbleReport.html
web/dist
web/node_modules
node_modules

# Aggregated test report for BubbleUnits
junit-report.xml
